.card-border {
    border: 1px solid #ddd;
    border-radius: 10px;
}

/*.card-hover:hover {*/
/*    box-shadow: 0 0 10px #ddd;*/
/*    transition: box-shadow 0.3s;*/
/*}*/

.link-text {
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.link-text:hover {
    color: #999;
}

.click-btn {
    cursor: pointer;
}

.click-btn:hover {
    background-color: #f0f2f5;
}